body {
  font-family: 'Arial', sans-serif;
}

.p-fluid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-button {
  width: fit-content;
}

h1, h2 {
  color: #333;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-gray-100 {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: #ffffff;
}

.text-red-600 {
  color: #e3342f;
}

.text-green-600 {
  color: #38a169;
}

.text-gray-800 {
  color: #2d3748;
}

.text-gray-700 {
  color: #4a5568;
}
