.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 20vw;
    transition: width .5s ease;
}

.dashboard.active {
    width: 5vw;
    transition: width .5s ease;
}

.content {
    width: 100%;
}

.dashboard nav ul {
    list-style: none;
    padding: 0;
}

.dashboard nav ul li {
    margin: 10px 0;
}

.dashboard nav ul li button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dashboard nav ul li button span {
    font-size: 16px;
    font-weight: bold;
}

.dashboard nav ul li button.active {
    background-color: #007bff;
    color: white;
}

.dashboard nav ul li button:hover {
    background-color: #e0e0e0;
}

.dashboard nav .section-title {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 5px;
    color: #555;
    text-transform: uppercase;
}

.dashboard nav ul li span {
    cursor: pointer;
    transition: color 0.3s ease;
}

.dashboard nav ul li span.active {
    color: pink;
    font-weight: bold;
}

.dashboard nav ul li span:hover {
    color: #ff69b4; /* Slightly darker pink for hover effect */
}

.hamburger span {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.hamburger span:hover {
    background-color: #e0e0e0;
}

.escape-room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.escape-room-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.escape-room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.navbar input[type="text"] {
    flex: 1;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}